[submodule "demucs"]
	path = demucs
	url = git@github.com:facebookresearch/demucs
[submodule "transformer-gan"]
	path = transformer-gan
	url = git@github.com:amazon-research/transformer-gan
[submodule "wav2midi"]
	path = wav2midi
	url = git@github.com:mrk21/wav2midi
[submodule "python-midi"]
	path = python-midi
	url = git@github.com:vishnubob/python-midi
